<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>单页开发环境</title>
    <style>
        :root{
            --bgColor:yellowgreen;
            --x:()=>{
                console.log(12)
            }
        }
        body{
            --bodyBgColor:gray;
            background: var(--bodyBgColor);
        }
        h1{
            color: var(--bgColor)
        }
    </style>
</head>
<body>
    <h1>实战前沿前端技术 冲击月薪3万</h1>
    <div id="main"></div>
<script type="text/javascript" src="/scripts/app.js"></script></body>
</html>